{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block page-title %}<h1>About Ionic Builder</h1>{% endblock %}

{% block content %}
<div class="row">
  <div class="small-11 small-centered columns">
	  <p>Ionic Builder is a cloud build service for Android (and maybe, eventually, iOS) applications built using the <a href="http://ionicframework.com/">Ionic framework</a>.</p>
	  <p>Builder came from an idea, a question and a desire to build something cool using a few technologies that I've been meaning to do something with.  It's 100% open source, check it out on <a href="https://github.com/mathamoz/ionic-builder">GitHub</a>!</p>
	<h3>Built With</h3>
    <a class="th [radius] left" style="margin-bottom: 10px; margin-right: 10px" href="https://www.docker.io/">
	  <img style="height: 168px" src="/images/Docker-logo-011.png">  
    </a>

    <a class="th [radius] left" style="margin-bottom: 10px; margin-right: 10px" href="https://www.djangoproject.com/">
	  <img style="height: 75px" src="/images/django-logo-negative.png">  
    </a>

    <a class="th [radius] left" style="margin-bottom: 10px; margin-right: 10px" href="https://www.python.org/">
	  <img style="height: 75px" src="/images/logo_python.png">  
    </a>

    <a class="th [radius] left" style="margin-bottom: 10px; margin-right: 10px" href="http://www.postgresql.org/">
	  <img style="height: 75px" src="/images/postgresql-logo.png">  
    </a>

    <a class="th [radius] left" style="margin-bottom: 10px; margin-right: 10px" href="http://www.rabbitmq.com/">
	  <img src="/images/rabbitmq_logo_strap.png">  
    </a>

    <a class="th [radius] left" style="margin-bottom: 10px; margin-right: 10px" href="http://www.celeryproject.org/">
	  <img src="/images/celery-logo.png">  
    </a>

    <a class="th [radius] left" style="margin-bottom: 10px; margin-right: 10px" href="http://foundation.zurb.com/">
	  <img style="height: 128px" src="/images/why-the-yeti.svg">  
    </a>
  </div>
</div>
{% endblock %}
